<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>APITSSservlet</servlet-name>
        <display-name>APITSSservlet</display-name>
        <description></description>
        <servlet-class>app.server.ifs.filter.APITSSservlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>APITSSservlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>system-name</param-name>
        <param-value>app-server-ifs</param-value>
    </context-param>

    <context-param>
        <param-name>system.config-path-name</param-name>
        <param-value>conf</param-value>
    </context-param>

    <context-param>
        <param-name>system.log-path-name</param-name>
        <param-value>log</param-value>
    </context-param>

    <context-param>
        <param-name>system.apiurl-confi</param-name>
        <param-value>apiurl-config.txt</param-value>
    </context-param>

    <context-param>
        <param-name>system.conf.properties</param-name>
        <param-value>conf.properties</param-value>
    </context-param>

    <listener>
        <listener-class>app.server.ifs.init.InitSystemListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
